{% extends 'base.html' %}
{% block content %}

<div class="section">
<h1 class="grey-text text-darken-3">Category Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
        <h4 class="card-title grey-text text-darken-1">{{ category.name }}</h4>
    
        {% for drink in category.drink_set.all %}
        <p>Drink: {{ drink.drink_name }}</p>
        {% empty %}
        <p>No Drinks have been added to this category yet</p>
        {% endfor %}

        <a  class="waves-effect waves-light btn grey darken-3 white-text" href="{% url 'categories_delete' category.id %}">Delete</a>
        <a  class="waves-effect waves-light btn grey darken-3 white-text" href="{% url 'categories_update' category.id %}">Edit</a>
      </div>
</div>
</div>
{% endblock %}