{% extends 'base.html' %}
{% block content %}

<div class="section">
  <h1 class="grey-text text-darken-1">Delete Category</h1>

  <h4 class="grey-text text-darken-1">Are you sure you want to delete <span class="teal-text">{{ object.name }}</span>?
  </h4>

  <form action="" method="POST">
    {% csrf_token %}
    <button class="waves-effect waves-light btn grey darken-3 white-text" type="submit" value="Submit" class="btn">Yes, Delete!</button>
    <a class="waves-effect waves-light btn grey darken-3 white-text" href="{% url 'categories_detail' object.id %}">Cancel</a>
  </form>
</div>

{% endblock %}