{% extends 'base.html' %}
{% block content %}

<div class="section">
  <div class="center-align">
    <img class="circle responsive-img" src="https://i.imgur.com/iAfqXM9.png" alt="">
    <h4 class="grey-text text-darken-1">Welcome to Bottoms Up! Please fill out information about your day below.</h4>
  </div>
  <form class="grey-text text-darken-1" action="{% url 'generate_drink' %}" method="POST">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <div class="section">
      <button class="waves-effect waves-light btn grey darken-3 white-text" type="submit" value="Submit" class="btn">Get
        My Drink!</button>
    </div>
  </form>

  <script>

    const selectEl = document.getElementById('id_liquor_pref');
    M.FormSelect.init(selectEl);
    const selectEl2 = document.getElementById('id_q1');
    M.FormSelect.init(selectEl2);
    const selectEl3 = document.getElementById('id_q2');
    M.FormSelect.init(selectEl3);
    const selectEl4 = document.getElementById('id_q3');
    M.FormSelect.init(selectEl4);

  </script>
</div>

{% endblock %}