{% extends 'base.html' %}
{% block content %}

<div class="section">
    <h1 class="grey-text text-darken-3">About Bottoms Up!</h1>
    <p class="flow-text">Picture this: You're with your friends and you've all had completely different days, visited
        different places and you're in different moods.
        The human experience is extremely vast and so is the range of cocktails out there.
        You just want to spend time with your friends, have some drinks, and enjoy each others company. Don't waste time
        deciding what to drink! </p>

    <p class="flow-text">Bottoms Up! is here to help with its intelligent Alcoholgorithm to help you, your friends, and
        whoever else find the perfect cocktail for every occasion.</p>

    <p class="flow-text">Answer some simple survey questions and you will receive your personalized Alcoholgorithmic
        Drink Recommendation!
        Discover new cocktails, revisit classics, find the perfect cocktail for every mood and situation.
        Save your cocktails to your cocktail list and then categorize them by occasion, mood, or however else you
        choose!</p>

    <p class="flow-text">Bottoms Up! takes all the fuss out of deciding what to drink so you can spend more time
        enjoying your life!</p>

    <p class="flow-text">Please use Bottoms Up! responsibly. You must be 21 and over in the USA to consume
        Alcoholgorithmic beverages. Sorry Gavin.</p>
</div>

{% endblock %}