{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bottoms Up!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <header class="navbar-fixed">
        <nav class="white">
            <div class="nav-wrapper">
                    <ul>
                        <li><img src="{% static 'images/bottomsup_logo.svg' %}" class="logo"></li>
                    </ul>
                    <ul class="right">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a class="white-text" href="{% url 'about' %}">About</a></li>
                        {% if user.is_authenticated %}
                
                        <li><a href="{% url 'survey_form' %}">Generate A New Cocktail</a></li>
                        <li><a href="{% url 'index' %}">Drink List</a></li>
                        <li><a href="{% url 'categories_index' %}">Cocktail Categories</a></li>
                        <li><a href="{% url 'categories_create' %}">Add Cocktail Category</a></li>
                        <li><a href="{% url 'logout' %}">Log Out</a></li>

                        {% else %}
                        <li><a href="{% url 'signup' %}">Sign Up</a></li>
                        <li><a href="{% url 'login' %}">Log In</a></li>
                      {% endif %}
                    </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="transparent">
    <div class="right-align">
        <img class="responsive-img" src="https://i.imgur.com/OPY4MSI.png" alt="">
    </div>
</body>
</html>