{% extends 'base.html' %}
{% block content %}

<div class="section center-align">
<h1 class="grey-text text-darken-1">Welcome!</h1>
<img class="circle responsive-img" src="https://i.imgur.com/iAfqXM9.png" alt="">
<p class="flow-text">Never struggle to choose a drink again with a convenient drink choice for any occasion. 
    Bottoms Up! eases your mind with cocktails you will enjoy. Curate and save your cocktails to different mood and occasion categories for quick access. 
    Sign Up for Bottoms Up! today and use our daily survey to get amazing cocktail recipes for any occasion.</p>
</div>

{% endblock %}