body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
    flex: 1 0 auto;
}

img.logo {
  width: 8vh;
  object-fit: contain;
  margin: auto;
  padding-left: 2vh;
  padding-top: 1vh;
}

.responsive-img {
  width: 300px;
  height: 300px;
}