body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fcf2de;

}

  main {
    flex: 1 0 auto;
}

  footer.page-footer {
    padding-top: 5vh;
    text-align: center;
}

nav {
  background-color: white;
  list-style: none;

}

nav ul a {
  text-align: left;
  color: gray;
}

img.logo {
  width: 8vh;
  object-fit: contain;
  margin: auto;
  padding-left: 2vh;
  padding-top: 1vh;
}