{% extends 'base.html' %}
{% block content %}

<div class="container center-align">
  <div class="section">
    <h1 class="grey-text text-darken-3">{{ drink.drink_name }}</h1>
    <img class="card-panel responsive-img" src="{{ drink.drink_pic }}" alt="">
    <h4 class="grey-text text-darken-3">Instructions:</h4>
    <p> {{ drink.drink_instructions }}</p>
    <h4 class="grey-text text-darken-3">Ingredients:</h4>
    <p>{{ ingredients }}</p>
  </div>
  <hr>
  <div class="container center-align">
    {% for photo in drink.photo_set.all %}
    <img class="responsive-img card-panel" src="{{photo.url}}">
    {% empty %}
    <div class="center-align">No Photos Uploaded</div>
    {% endfor %}
    <form action="{% url 'add_photo' drink.id %}" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <input id="photo-upload" type="file" name="photo-file">
      <br><br>
      <button class="waves-effect waves-light btn grey darken-3 white-text" type="submit" value="Submit"
        class="btn">Upload Photo</button>
      <div class="card-action">
        {% for photo in drink.photo_set.all %}
        <a class="waves-effect waves-light btn grey darken-3 white-text"
          href="{% url 'photo_delete' photo.id %}">Delete</a>
        {% endfor %}
      </div>
    </form>
  </div>
</div>
</div>

<div class="container center-align">
  <hr>
  <div class="row">
    <div class="col s6">
      <h4 class="grey-text text-darken-1">Assigned Categories</h4>
      {% if drink.categories.count %}
      {% for category in drink.categories.all %}
      <div class="section">
        <h5>{{ category.name }}</h5>
        <div class="section">
          <form action="{% url 'remove_category' drink.id category.id %}" method="POST">
            {% csrf_token %}
            <button class="waves-effect waves-light btn grey darken-3 white-text" type="submit"
              class="btn">Remove</button>
          </form>
          <hr>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <h6>No Categories :(</h6>
      {% endif %}
    </div>
    <div class="col s6">
      <h4 class="grey-text text-darken-1">Available Categories</h4>
      {% if categories.count %}
      {% for category in categories.all %}
      <div class="section">
        <span class="card-title">
          <h5>{{ category.name }}</h5>
        </span>
        <div class="section">
          <form action="{% url 'add_category' drink.id category.id %}" method="post">
            {% csrf_token %}
            <button class="waves-effect waves-light btn grey darken-3 white-text" type="submit" class="btn">Add</button>
          </form>
          <hr>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <h6>This drink already has all categories available.</h6>
      {% endif %}
    </div>
  </div>
  <div class="section">
    <div class="card-action">
      <a class="waves-effect waves-light btn grey darken-3 white-text" href="{% url 'drink_delete' drink.id %}">Delete
        Cocktail</a>
    </div>
  </div>

  {% endblock %}