{% extends 'base.html' %}
{% block content %}

<div class="section" id="drink_index">
  <h1>Drink List</h1>

  {% for drink in drinks %}
  <div class="row">
    <div class="col s6">
        <div class="card medium z-depth-3">
          <div class="card-image">
            <img src="{{ drink.drink_pic }}">
          </div>
          <div class="card-content">
            <p>Drink Name: {{ drink.drink_name }}</p>
            {% for category in drink.categories.all %}
            <p>Category: {{ category.name }}</p>
            {% endfor %}
          </div>
          <div class="card-action">
            <a class="waves-effect waves-light btn grey darken-3 white-text"
              href="{% url 'drink_detail' drink.id %}">View Cocktail</a>
          </div>
      </div>
</div>
        {% endfor %}
        {% endblock %}