{% extends 'base.html' %}
{% block content %}

<div class="section">
  <h1 class="grey-text text-darken-3">Drink List</h1>

  {% for drink in drinks %}
  <div class="row">
    <div class="col s6">
      <div class="card large z-depth-3 transparent">
        <div class="card-image">
          <img src="{{ drink.drink_pic }}">
        </div>
        <div class="card-content">
          <h6>{{ drink.drink_name }}</h6>
          <strong>
            <p>Categories:</p>
          </strong>
          {% for category in drink.categories.all %}
          <p>{{ category.name }}</p>
          {% endfor %}
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn grey darken-3 white-text" href="{% url 'drink_detail' drink.id %}">View
            Cocktail</a>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endblock %}